.header {
  text-align: center;
  background-color: cornflowerblue;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.main-left {
  background-color: tomato;
  padding: 1px 2px;
  width: 50%;
  min-height: 400px;
}

.main-left img {
  width: 100%;
  height: 100%;
}

.main-right {
  padding: 1px 2px;
  background-color: lightgreen;
  width: 50%;
  min-height: 400px;
}

.images-tab {
  display: flex;
  justify-content: space-around;
}

.images {
  background-color: rgb(184, 184, 245);
  text-align: center;
  width: 100%;
}
.images img {
  padding: 2px;
  width: 100%;
  height: 200px;
}

.footer {
  text-align: center;
  background-color: khaki;
  font-size: 20px;
  color: black;
}
