.header {
  background-color: lemonchiffon;
  display: flex;
  justify-content: space-between;
}

.headerleft {
  background-color: wheat;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  height: fit-content;
}

.headerright {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
}

.right-box {
  width: 25%;
  height: fit-content;
  background-color: wheat;
  text-align: center;
  padding: 10px;
}

.page1 {
  background-color: wheat;
  text-align: center;
  height: fit-content;
  padding: 30px;
}

.page2 {
  padding: 20px;
  background-color: lemonchiffon;
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.box {
  background-color: wheat;
  width: 100%;
  height: 200px;
  padding: 10px;
  text-align: center;
}

.name {
  background-color: rgb(202, 179, 135);
  width: 80%;
  padding: 5px;
  text-align: center;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.description {
  text-align: center;
  background-color: rgb(185, 158, 106);
  width: 80%;
  margin: auto;
  padding: 5px;
}

.page3-head {
  background-color: lemonchiffon;
  width: 50%;
  margin: auto;
  font-size: xx-large;
}

.page3 {
  display: flex;
  justify-content: space-evenly;
  background-color: wheat;
}

.item {
  background-color: rgb(185, 158, 106);
  width: 90%;
  height: 200px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.footer {
  background-color: lemonchiffon;
  padding: 20px;
  font-size: x-large;
  text-align: center;
}

.page4 {
  background-color: lemonchiffon;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.left-head {
  padding: 10px;
  background-color: rgb(185, 158, 106);
  width: 100%;
  text-align: center;
  margin: 5px;
}

.lines {
  background-color: wheat;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 5px 10px;
}

.left-image {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.image {
  background-color: rgb(202, 179, 135);
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 100px;
  margin: 5px 5px;
}

.image-box {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 10px;
  padding: 10px;
}

.right-image {
  background-color: rgb(202, 179, 135);
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 5px 10px;
  height: 300px;
}

.bottom {
  background-color: wheat;
  padding: 10px;
}

.page4-box {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: lemonchiffon;
  margin: auto;
}

.bottom-image {
  width: 45%;
  background-color: rgb(185, 158, 106);
  padding: 30px;
  text-align: center;
  height: 200px;
}

.bottom-content {
  width: 50%;
  padding: 30px;
  text-align: center;
  height: 200px;
}
